<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Source Menu</title>
</head>
<body>
    <h2>Select a Value from the Dropdown</h2>
    <form action="#" method="post">
        <label for="options">Choose an content extraction source:</label>
        <select id="options" name="options">
            <option value="value1">Tourism Website</option>
            <option value="value2">Wikipedia</option>
            <option value="value3">Option 3</option>
        </select>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
